  <ng-container [ngSwitch]="card.typeCard">
    <ng-container *ngSwitchCase="'basic1'">
        <div class="card text-center">
            <div class="card-header text-truncate " *ngIf="!!card.header"
            [ngClass]="!!card.header.titleClass ? card.header.titleClass : ''" >
              <!--Titulo de la tarjeta-->
            <strong *ngIf="!!card.header.siglas">{{card.header.siglas}}</strong> -
            {{getArrayToText(card.header.title)}}
            </div>


          <div class="card-body">
            <!--Titulo y descripcion-->
            <h4 class="card-title" [ngClass]="!!card.body.titleClass ? card.body.titleClass : ''" *ngIf="!!card.body.title" >
              {{UserData[card.body.title]}}</h4>

            <h4 class="card-title" [ngClass]="!!card.body.descClass ? card.body.descClass : ''">
              {{UserData[card.body.desc]}}</h4>
            <p class="card-text" *ngIf="!!card.body.subDesc"
            [ngClass]="!!card.body.subDescClass ? card.body.subDescClass : ''">
            {{UserData[card.body.subDesc]}}</p>
          </div>
          <div class="card-footer text-muted">
            <!--Etiquetas o botones-->
            <div *ngIf="card.footer.footerType == 'label';else btnFooter"
            [ngClass]="!!card.footer.footerClass ? card.footer.footerClass : ''" >
              {{UserData[card.footer.label]}}
            </div>
            <ng-template #btnFooter>
              <button mat-button color="primary" class="pr-2 mr-2"
              [ngClass]="!!card.footer.footerClass ? card.footer.footerClass : ''" color="primary">
              {{UserData[card.footer.label]}}
              </button>
            </ng-template>

          </div>
        </div>

    </ng-container>
    <ng-container *ngSwitchDefault>
        <div class="card text-center">
          <div class="card-body">
            <h4 class="card-title">
              Sorry, tarjeta no configurada
            </h4>
          </div>
        </div>
    </ng-container>
  </ng-container>
