@import "/node_modules/bootstrap/scss/bootstrap";
@import "/node_modules/bootstrap/scss/functions";
@import "/node_modules/bootstrap/scss/variables";
@import "/node_modules/bootstrap/scss/mixins";
@import "/node_modules/bootstrap/scss/grid";
@import "/node_modules/bootstrap/scss/navbar";
@import "/node_modules/bootstrap/scss/forms";
.bg-custom-blue-800{
  background-color: $blue-800;
}
.prueba-color{
  background-color: $orange-700 !important;
  color:white !important;
}
.text-color-green{
  color: #ffffff;
  background: #232323;
  text-shadow: 2px 2px 2px rgba(84,155,206,0), 2px 2px 2px rgba(84,155,206,0), 2px 2px 2px rgba(84,155,206,0), 2px 1px 20px #71CEC9;
}
