<form  [formGroup]="formUser" (ngSubmit)="onSubmit()">
  <!-- 2 column grid layout with text inputs for the first and last names -->
  <div class="row" *ngIf="isSignUp== true">

    <mat-form-field appearance="outline" class="col-md-6 mb-4">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="Introduce your name" formControlName="firstName">
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-md-6 mb-4">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="Please, tell me your last name" formControlName="lastName">
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-md-6 mb-4">
      <mat-label>Phone</mat-label>
      <input matInput placeholder="Please, tell me your phone number" formControlName="phoneNumber">
    </mat-form-field>
  </div>

  <!-- Email input -->
  <mat-form-field appearance="outline" class="col-md-12 mb-4">
    <mat-label>Email</mat-label>
    <input matInput placeholder="pat@example.com" formControlName="email" *ngIf="!dataUser">
  </mat-form-field>

  <!-- Password input -->
  <mat-form-field appearance="outline" class="col-md-12 mb-4" *ngIf="!dataUser">
    <mat-label>Password</mat-label>
    <input matInput placeholder="your password" formControlName="password">
  </mat-form-field>
<div class="row">
  <button mat-raised-button class="col-md-6 pr-2 mr-2" *ngIf="hasSession"(click)="cancelBtn()">Cancelar</button>
  <button type="submit" mat-raised-button class="pl-2 ml-2" [ngClass]="{ 'col-md-12': !hasSession,'col-md-6':hasSession}"
    color="primary" [disabled]="formUser.invalid">{{confirmButtonText}}</button>

</div>

</form>
