<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="staticBackdropLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Editor de usuario</h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <app-login-form [isSignUp]="true" [confirmButtonText]="confirmButtonText" [dataUser]="row"
        (responseForm)="respForm($event)" (cancelForm)="cancelForm($event)"></app-login-form>
      </div>
    </div>
  </div>
</div>
